body {
  text-align: center;
  opacity: 1;
  background: #feada6;
  background: linear-gradient(to left, #feada6, #f5efef);
  overflow: hidden;
  font-family: 'Nunito','Open Sans','Times New Roman', 'Sans Serif', serif;
}

img {
  width: 60px;
  margin: 0;
  display: block;
  margin-left: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.canvas {
  margin-top: 20px;
  margin-right: 100px;
}

/* avatars */
#avatars {
  float: left;
  margin-left: 20px;
}

/* background color */
.char-princess-girl {
  background: linear-gradient(to left, #a1c4fd, #c2e9fb);
}

.char-cat-girl {
  background: linear-gradient(to left, #ff9a9e, #fecfef);
}

.char-horn-girl {
  background: linear-gradient(to left, #93a5cf, #e4efe9);
}

.char-pink-girl {
  background: linear-gradient(to left, #feada6, #f5efef);
}

.char-boy {
  background: linear-gradient(to left,#ffecd2, #fcb69f);
}

/* animation for avatars */
/* Flipping Card (flipInY): http://www.theappguruz.com/tag-tools/web/CSSAnimations/  */

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }

  /* win modal and gameover modal*/
  .win-modal-background, .lose-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
  }

  .win-modal-body, .lose-modal-body {
    position: relative;
    width: 400px;
    height: 200px;
    top: 45%;
    left: 45%;
    font-family: 'Nunito','Open Sans','Times New Roman', 'Sans Serif', serif;
    background-color: white;
    transform: translate(-50%, -150%);
    border-radius: 10px;
  }

  .win-modal-title, .lose-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    text-transform:uppercase;
  }

  .modal-button {
    width: 100px;
    height: 44px;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.05);
    background-color: #4949e4;
    color: white;
    font-size: 12px;
    border: none;
    letter-spacing: 0.1em;
    text-transform:uppercase;
    font-weight: bold;
    margin-top: 20px;
  }

  .modal-button:hover {
    background-color: white;
    border: #4949e4;
    color: #4949e4;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .hide {
    display: none;
  }

/* start button */

#start-btn {
  float: right;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 80px;
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  font-family:  'Nunito','Open Sans','Times New Roman', 'Sans Serif', serif;
  margin-right: 100px;
  text-transform:uppercase;
  font-weight: bold;
  padding: 10px;
}

#start-btn:hover {
  border: none;
  color: #4949e4;
}

/* welcome modal */

.modal {
	position: fixed;
  font-family: 'Nunito','Open Sans','Times New Roman', 'Sans Serif', serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal > div {
  position: relative;
  background: white;
	width: 400px;
	padding: 5px 20px 13px 20px;
  margin: 10% auto;
  border-radius: 10px;
}

.close {
  position: absolute;
	background: #4949e4;
	color: white;
  box-shadow: 1px 1px 3px #000;
  border-radius: 12px;
	line-height: 25px;
	right: -12px;
	top: -10px;
	width: 24px;
  text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.close:hover {
  background: white;
  color: black;
 }

.title {
  text-transform:uppercase;
  font-family: 'Nunito','Open Sans','Times New Roman', 'Sans Serif', serif;
  color: #4949e4;
}

ul {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 2em;
  text-indent: -1em;
  text-align: left;
  list-style-type: square;
 }

li {
  margin-bottom: 10px;
  font-family: font-family:  'Nunito','Open Sans','Times New Roman', 'Sans Serif', serif;
}

.start {
  background-color: #4949e4;
  color: white;
  border-radius: 4px;
  width: 60px;
  height: 30px;
  border: none;
  text-transform:uppercase;
}

.start:hover {
  background-color: white;
  color: #4949e4;
  border-color: #4949e4;
  border-radius: 4px;
  font-weight: bold;
}

/* hearts */

.hearts {
  margin: 0;
  padding: 0;
  margin-right: 200px;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0px;
}

.hearts li {
  list-style: none;
  display: inline-block;
  text-align: right;
  width: 2em;
  height: 0.25em;
}

.heart img {
  width: 30px;
}
